# Bundler / Ruby gems
/vendor/bundle
*.gem
Gemfile.lock

# SQLite database file
*.sqlite3
/db/*.sqlite3

# OS / Editor files
.DS_Store
Thumbs.db
*.swp
*.swo
*.idea/
*.vscode/

# Logs and temp files
/log/*
/tmp/*
